    <section class="bg-gray-300 p-8 text-center">
  <h1 class="text-3xl text-gray-700 font-serif font-bold">
     Holi </h1>
  <p class="text-xl text-blue-600 font-serif font-semibold">
    Peace of mind from prototype to production
  </p>
</section>
